<div class="main-container animate-top center">

  <%if @all_articles.count == 0  %>
  <div class="article-subgrid">
    <h1>There are no posts at this time</h1>
    <a class="primary-btn" href="/articles/create-article">Create Your First Post</a>
  </div>

  <% else %>

    <div class="container center">
    <%@all_articles.reverse.each do |article|%>
    <div class="article-grid">
      <img class="articleimg" src="<%= article.image%>">
      <div class="article">
      <h3><%= article.title%></h3>
      <% user = User.find(article.user_id)%>
      <h4>Created By: <%=user.firstname%></h4>
      <p><%=article.content%></p>
    </div>
    </div>
    <%end%>
  </div>

  <% end %>
</div>
