<div class="container center">
  <div class="sub-container">
    <div></div>
    <div class="animate-top">
      <h1>Welcome to Rumblr</h1>
      <p>This is where you post things that make us go 'AW'</p>
      <a class="primary-btn" href="/users/create-account">Get Started</a>
      <a class="secondary-btn" href="/login">Log In</a>
    </div>
    <div></div>
  </div>
</div>
