<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body id="home">
    <div class="container center">
      <div class="sub-container">
        <div></div>
        <div class="animate-top">
          <br>
          <h2>Welcome to The Daily Pupper</h2>
          <p>Daily posts of puppers make us go 'AW'</p> <br>
          <a class="primary-btn" href="/users/create-account">Get Started</a> &nbsp
          <a class="secondary-btn" href="/login">Log In</a>
        </div>
        <div></div>
      </div>
    </div>

  </body>
</html>
