<div class="main-container">

<h2>My Posts</h2>
<div>
  <%@article.each do |art|%>
  <%if art.user_id == session['user_id']%>
  <img src= <%= art.image%>>
  <p>Title: <%= art.title%></p>
  <p>Content: <%= art.content%></p>
  <p>
    <form action=<%=art.id%> method="post">
      <input class="primary-btn" type="submit" name="delete" value="Delete Article" onclick="alert('Article Deleted!')">
    </form>
  </p>
  <%end%>
  <%end%>
</div>
</div>
