<div class="main-container center">
  <div class="container">
    <div></div>
    <div class="animate-down">
      <h1>Write Post</h1>
      <form class="create-account" action="/articles/create-article" method="post">
        <input type="text" name="title" value="" placeholder="Title Name" required>
        <textarea name="content" rows="8" cols="80" placeholder="Write your blog here..."></textarea>
        <input type="text" name="image" value="" placeholder="Image URL"> <br>
        <input type="submit" name="submit" value="Create Post">
      </form>
    </div>
    <div></div>
  </div>
</div>
