body{
  margin: 0;
  font-family: 'Righteous', cursive;
  /* background-image: url("https://images.unsplash.com/photo-1526660690293-bcd32dc3b123?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgb(0, 0, 0);
  /* color: rgb(255, 255, 255); */
  color: black;
  /* background-blend-mode: overlay;
  background-size: cover;
  height: 100%; */
}

h1{
  color: white;
}

.center{
  text-align: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.homenav{
  padding-top: 4%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  float: right;
}

.logo {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  float: left;
}

.logo {
  color: #ffffff;
  font-size: 2em;
  text-decoration: none;
}

.logo:hover{
  color: #0085b6;
}

.logo img{
  height: 70px;
  transform: scaleX(-1);
}
.sidenav {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 3px solid #ffffff;
  background-color: rgb(30, 30, 30);
  overflow-x: hidden;
  padding-top: 10%;
}

.sidenav a {
  font-family: 'Raleway', sans-serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.2em;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #0085b6;
}

.navbar{
  width: 100%;
  padding: 1%;
  background-color: rgba(30, 30, 30, 0.8);
  text-align: center;
  position: fixed;
  z-index: 1;
}

.navbar img{
  height: 50px;
  transform: scaleX(-1);
}

.navbar a {
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #ffffff;
}

.navbar a:hover{
  color: #00d49d;
}

.container{
  display: inline-grid;
  margin: 0;
  width: 100%;
}

.main-container{
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 0;
  padding-top: 7%;
}

.sub-container{
  width: 100%;
  height: 35%;
  padding-top: 3%;
  display: inline-grid;
  position: absolute;
  grid-template: auto / repeat(3, 33.3%);
}

.sub-container div:nth-child(2){
  padding: 5%;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  border: 3px solid #0085b6;
  border-radius: 6px;
  box-shadow: 5px 8px 3px #000000;
}

.article-grid{
  display: inline-grid;
  grid-template: 700px / 700px;
  grid-gap: 5%;
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.article-subgrid{
  display: inline-grid;
  grid-template: 650px / 650px;
  background-image: url("https://images.unsplash.com/photo-1538665120611-ec2a6edcb109?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-size: cover;
}

.articleimg{
  width: 100%;
  height: 100%;
}

.article{
  background-color: #0085b6;
  margin: 0;
}


/******************** Animation *********/
.animate-top{
  position: relative;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {top:-300px; opacity:1}
  to {top:0; opacity:1}
}

.animate-down{
  position: relative;
  animation-name: animatedown;
  animation-duration: 0.4s;
}
@keyframes animatedown {
  from {top:300px; opacity:1}
  to {top:0; opacity:1}
}

.footer{
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: #f16f9d;
}

.footer ul {
  list-style-type: none;
}

.footer li {
  display: inline;
  padding: 6px 23px;
}

.footer li a {
  text-decoration: none;
  font-size: 1em;
  color: #000000;
}

.footer li a:hover{
  color: #570d65;
}

.modal{
  position: relative;
  background-color: #ffffff;
  margin: auto;
  width: 640px;
  height: 640px;
  top: 50px;
  bottom: 0;
  padding: 2%;
}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #955ccd;
    text-decoration: none;
    cursor: pointer;
}

.sideimg img{
  width: 100%;
}

/* img {
  height: 100px;
  width: auto;
} */


/********************* buttons ***************/

.primary-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid #0085b6;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color:#ffffff;
  font-size:1.1em;
  text-decoration:none;
  transition: color 3s
}
.primary-btn:hover{
  border:2px solid #0085b6;
  color: #ffffff;
  background-color: #2b9fca;
}

.secondary-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid #00d49d;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color:#ffffff;
  font-size:1.1em;
  text-decoration:none;
  transition: color 3s
}
.secondary-btn:hover{
  border:2px solid #00d49d;
  color: #ffffff;
  background-color: #48d5b0;
}

.white-btn{
  display:inline-block;
  position:relative;
  padding:10px 10px;
  background-color: #ffffff;
  color:#955ccd;
  font-size:1.1em;
  text-decoration:none;
  transition: color 0.4s
}
.white-btn:hover{
  background-color: #955ccd;
  color: #ffffff;
}

/**********************forms****************/
input[type=text], input[type=email], input[type=password], input[type=date]{
  width: 70%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 70%;
  padding: 10px 15px;
  box-sizing: border-box;
  resize: none;
}

input[type=submit], input[type="reset"] {
  display:inline-block;
  background-color: rgba(0,0,0,0);
  position:relative;
  padding:10px 20px;
  border:2px solid #0c9cd1;
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  color:#ffffff;
  font-size:1.1em;
  text-decoration:none;
  transition: color 3s
}

input[type=submit]:hover, input[type=reset]:hover{
  border:2px solid #0c9cd1;
  color: #ffffff;
  background-color: #2eb3e4;
}
