<body id="home">
<div class="homenav animate-top">
  <a class="secondary-btn" href="/users/create-account">Create Account</a>
</div>

<div class="container center">
  <div class="sub-container">
    <div></div>
    <div class="animate-down">
      <h1>Log In</h1>
      <form action="/users/login" method="POST">
        <input type="email" name="email" value="" placeholder="Email Address" required> <br>
        <input type="password" name="password" value="" placeholder="Password" required> <br>
        <br>
          <input type="submit" name="submit" value="Enter">
      </form>
    </div>
    <div></div>
  </div>
</div>
</body>
